.navbar{
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}


.Butnav{
    background-color: #16003B;
    width: 15%;
    height: 45px;
    border-radius: 25px;
    text-decoration-color: aqua;
    justify-content: center;
    color: white;
    font-size: 15px;
    margin-right: 30px;
    padding: 12px;

   
    
}