.navbar{
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}


button{
    border: 1px solid ;
    border-radius: 15px ;
    background-color: teal;
    color: whitesmoke;
    
}